 @import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
 
 // Importation des styles personnalisés avant Bootstrap
@import 'custom';

// Importation de Bootstrap depuis node_modules
@import '../node_modules/bootstrap/scss/bootstrap';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
}

 footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
 }